a.link:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: black !important;
}

a.link:active {
  text-decoration: none !important;
  color: white !important;
  background-color: black !important;
}