a {
  text-decoration: none !important;
  color: black !important;
  padding: 5px;

}

a.link:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: black !important;
}

a.link:active {
  text-decoration: none !important;
  color: white !important;
  background-color: black !important;
}

